*{
    color: white;
}
body{
    margin: 0;
    background-color: black !important;
    
}
.maincontent{
    /* border: 1px solid white; */
    /* width: 95%; */
    margin: auto;
    background-color: black;
}
.headcontent{
    /* border: 1px solid white; */
    position: relative;
    padding: 40px 50px;
}
.info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    margin: 10px 0px;
    position: relative;
    z-index: 3;

}
.info>div , .info>span{
    
    padding: 3px;

}
.info>span:last-child{
    border: 1px solid white;

}
.sharenfeedback{
    display: flex;
    justify-content: flex-end;
    column-gap: 15px;
    margin: 10px 0px;
    position: relative;
    z-index: 2;
   
}
.sharenfeedback>a{
    border: 1px solid white;
    text-decoration: none;
    padding: 5px;
}
.headcontent>P{
    margin: 30px 0px;
    margin-right: 50%;
    height: 320px;
    position: relative;
    z-index: 2;
    /* overflow-y: scroll; */
}
.headcontent>h1{
    font-size: 54px;
    position: relative;
    z-index: 2;
}
.headvideo{
    position: absolute;
    top:0px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
    width: 80%;
  overflow: hidden;
}
.headvideo>video{
    position: absolute;
    top:0px;
    right: 0px;
    bottom: 0px;
}
.headvideo>div{
    position: absolute;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 6%, rgba(0,0,0,0.7) 44%, rgba(0,0,0,0.2) 78%);
    top: 0;
    bottom: 0px;
    right: 0;
    width: 100%;
    text-align: end;
    padding: 30px;
}
.headvideo span{
    position: relative;
    z-index: 0;
    cursor: pointer;
    border-radius: 50%;
    font-size: 50px !important;
}
.headvideo span:hover{
    transform: scale(1.2);
}
/* .video{
    background-color: antiquewhite;
} */

.mycardcontainer{
    /* border: 1px solid  white; */
    margin: 60px auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    row-gap: 20px;

}
.mycardcontainer>span{
   /* color: #a18204; */
   background-image: linear-gradient( 89.4deg,  rgba(194,0,39,0.5) 0.8%, rgba(10,35,104,0.3) 99.4% );
   padding-left: 20px;
   font-size: 42px !important;
   cursor: pointer;
   border-radius: 10px;
   /* new commit */
}

.mycard{
    border: 1px solid  white;
    display: flex;
    column-gap: 20px;
    align-items: center;
    /* height: 210px; */
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}
.mycard:hover{
    transform: scale(1.04);
    background: #F3904F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3B4371, #F3904F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3B4371, #F3904F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition-duration: 0.4s;
}
.mycard>img{
    height: 100%;
    border-radius: 10px;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 15px;
  row-gap: 10px;
}
.cardheading{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
}
.cardheading  .playbtn{
    font-size: 40px !important;
}
.cardheading .playbtn:hover{
    transform: scale(1.6);
    transition-duration: 0.4s;
}
.content>span{
    font-size: 24px;
}
.cardinfo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
    margin: 10px 0px;
}
.cardinfo>span:last-child{
    border: 1px solid white;
    padding: 3px;
}

@media screen and (max-width:700px) {
    .mycard{
        flex-direction: column;
        align-items: center;
        gap:20px
    }
    .content{
        align-items: center;
      }
}

@media (max-width:420px){
    .headvideo span{
        position: absolute;
        top:450px;
        right:5px;
        z-index: 3;
    }

    .mycard>img{
        height: 100%;
        width:100%;
    }
    .headcontent>P{
        margin: 30px auto;
        height: 300px;
    }
    .video{
        top:0px;
        right: 0px;
        bottom: 0px;
        width: 100%;
      overflow: hidden;
    }
    .headcontent{
        /* border: 1px solid white; */
        padding: 30px 20px;
    }

}
.sharepopupmain{
    border: 1px solid white;
    
    background-color: rgba(0, 0, 0, 0.373) ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 3;
    display: none;
    /* filter: blur(1px); */
}

.sharepopup{
    width: 450px;
    height: 200px;
    border: 1px solid white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    /* background-color: rgb(167, 251, 223); */
    background: #C33764;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

    
}
.sharepopup>input{
    background-color: black;
    border-radius: 15px;
    padding: 10px;
    width: 350px;
}
.sharepopup>button{
    background-color: burlywood;
    border-radius: 10px;
    padding: 10px;
}